.cancel {
    text-decoration: none;
    color: grey;
    display: block;
    margin-top: 1.8rem;
    margin-left: 2rem;
    padding-bottom: 2rem;
}

.proceed {
    background-color: $buttonColor;
    color: white;
    padding: 0.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    margin-left: 2.3rem;
    margin-top: 1rem;
}