.cancel {
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    display: block;
    margin-top: 1.8rem;
    margin-left: 2rem;
    padding-bottom: 2rem;
}

.proceed {
    background-color: $buttonColor;
    color: white;
    button:hover {
        background-color: hsl(223, 47%, 23%);
    }
    padding: 0.8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
    margin-left: 0.7rem;
    margin-top: 1rem;
    border-radius: 10px;
}