.title-pic {
    width: 100%;
    height: auto;
}

.music-icon {
    position: relative;
    right: 6rem;
    top: 4rem;
}

.change-plan {
    position: relative;
    left: 5.5rem;
    bottom: 4rem;
}