@media (min-width: 1024px) {
    .container {
        position: relative;
        width: 40%;
        height: auto;
        left: 17rem;
    }
    body {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
    .proceed {
        padding-left: 7rem;
        padding-right: 7rem;
    }
}