.container,
#summary {
    background-color: white;
    z-index: 1;
}

body {
    background-color: lightblue;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    display: block;
    width: 85%;
    margin-left: 1.6rem;
    height: auto;
    text-align: center;
}

.plan {
    background-color: darkgray;
}