.container,
#summary {
    background-color: white;
    z-index: 1;
}

body {
    background-color: lightblue;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    width: 85%;
    height: auto;
    text-align: center;
}

.plan {
    background-color: darkgray;
}